body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  background-color: #0a0a10;
}

#container {
  position: relative;
}

.area-handle {
  position: absolute;
  padding: .5rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, .5);
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
}

.area-handle:hover {
  padding: .6rem;
}

.color {
  position: absolute;
  top: 2rem;
  left: 2rem;
  padding: 2rem;
  background-color: var(--bg);
}